<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
</style>

<div>
  Projet réalisé par GIRAUD Alex et DEMOULIN Florian <br>
  Etudiants Master 2 Intense <br>
  Miage Nice
</div>

<h1>Non graduable</h1>
<h2><u>Get top five members with the most bands - Non Graduable</u></h2>
<app-chanteur [chanteur] = "chanteursMostBands"></app-chanteur> 


<h1 style="margin-top:3em;">Graduable</h1>
<h2><u>Get top five members with the most bands - Graduable</u></h2>

<!-- <label>Choisir le nombre d'artists : </label><input type="number" onchange="{{setNbBands(5555)}}" value="{{nbMostBandsGraduable}}"  id="tentacles" name="tentacles" min="1" max="10"> !-->

<app-artist-most-band-graduable [chanteursMostBandsGraduable] = "chanteursMostBandsGraduable"></app-artist-most-band-graduable> 


<app-artist-most-album [artistWithMostAlbum] = "artistWithMostAlbum"></app-artist-most-album>
<app-all-songs-of-all-albums-of-eminem [allSongsOfAllAlbumsOfEminem] = "allSongsOfAllAlbumsOfEminem"></app-all-songs-of-all-albums-of-eminem>
